@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #180F0B;
}

:root {
    /* --primary-color: #047AF8; */
    --primary-color: #885a43;
    --primary-50: #F7F1EE;
    --primary-100: #EEE3DD;
    --primary-200: #DDC6BB;
    --primary-300: #CDAA98;
    --primary-400: #BC8D76;
    --primary-600: #895A43;
    --primary-700: #674432;
    --primary-800: #442D22;
    --secondary-color: #CAB36C;
    --secondary-50: #CAB36C;
    --secondary-100: #CAB36C;
    --secondary-200: #CAB36C;
    --secondary-300: #CAB36C;
    --secondary-400: #CAB36C;
    --secondary-600: #CAB36C;
    --secondary-color: #CAB36C;
    --secondary-700: #CAB36C;
    --headingFont: "Outfit", sans-serif;
    --paraFont: "Urbanist", sans-serif;
}

.career-section {
    width: 100%;
    height: 80vh;
    /* background: #180F0B; */
    background-image: url('/src/assets/landingpage/home-page-banner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section {
    width: 100%;
    height: 90vh;
    /* background: #180F0B; */
    /* background-image: url('/src/assets/landingpage/home-page-banner.webp'); */
    background-image: url('/src/assets/landingpage/xnubctpyh4ite78k6j6b.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg,
            rgba(24, 15, 11, 0.65)_0%,
            rgba(24, 15, 11, 0.45)_50%,
            rgba(24, 15, 11, 0.75)_100%);
    z-index: 1;
} */
/* bg-[linear-gradient(180deg,rgba(0,0,0,0.55)_0%,rgba(0,0,0,0.35)_50%,rgba(0,0,0,0.65)_100%)] */
.about-section {
    width: 100%;
    height: 80vh;
    background-image: url('/src/assets/aboutpage/about-us-banner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.our-section {
    width: 100%;
    height: 80vh;
    background-image: url('/src/assets/our-services/our-services.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*  */

.team-section {
    width: 100%;
    height: 80vh;
    background-image: url('/src/assets/contact-us1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.footer-bg {
    background-image: url("./assets/class-co.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.btn-button {
    padding: 8px 24px;
    font-family: var(--headingFont);
    font-size: 20px;
    border: 1px solid var(--secondary-color);
    background: linear-gradient(106.42deg,
            #A8794D 4.74%,
            #FFCA97 50.11%,
            #A8794D 92.31%);
    border-radius: 8px;
    color: #674432;
    font-weight: 600;

    /* ✅ IMPORTANT */
    transition:
        transform 0.4s ease,
        box-shadow 0.4s ease,
        background 0.4s ease,
        color 0.4s ease,
        border 0.4s ease;
}

/* Hover animation */
.btn-button:hover {
    background: transparent;
    color: white;
    border: 1px solid var(--secondary-color);

    transform: translateY(-4px) scale(1.05);
    /* 🔥 SCALE */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

/* Active (click) animation */
.btn-button:active {
    transform: translateY(0) scale(0.95);
    /* 🔥 PRESS EFFECT */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fadeUp {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 0.8s ease-out forwards;
}

.fadeUpDelay1 {
    animation-delay: 0.2s;
}

.fadeUpDelay2 {
    animation-delay: 0.5s;
}


.fadeUpDelay3 {
    animation-delay: 0.7s;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* className="
    fadeUp fadeUpDelay2
    text-2xl md:text-4xl lg:text-6xl
    font-semibold text-center
    font-headingFont
    bg-[linear-gradient(105.17deg,_#251611_-25.01%,_#FFCA97_42.41%,_#251611_121.11%)]
    bg-clip-text text-transparent
    drop-shadow-[0_2px_20px_rgba(255,202,151,0.35)]
  " */



/*
background: rgba(0, 0, 0, .5);
border: 1px solid #805f3f;
-webkit-backdrop-filter: blur(12.5px);
backdrop-filter: blur(12.5px);
border-radius: 16px 16px 0px 0px; */